<%- include("header") -%>

<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odio, fugit asperiores impedit laudantium nisi voluptatibus. Velit illum harum doloremque officia commodi odit suscipit aperiam voluptatibus molestias, id debitis nulla.</p>

<%- include("footer") -%>